asgiref
black
CacheControl==0.12.11
cachy==0.3.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
cleo==0.8.1
click
clikit==0.6.2
coreapi
coreschema
coverage
crashtest==0.3.1
cryptography==43.0.1
defusedxml
distlib==0.3.4
Django
django-cors-headers
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-jwt
filelock==3.7.1
flake8
gunicorn
html5lib==1.1
idna==3.3
isort
itypes
jeepney==0.8.0
Jinja2
keyring==23.7.0
lockfile==0.12.2
Markdown
MarkupSafe
mccabe
msgpack==1.0.4
mypy-extensions
oauthlib
packaging==20.9
pastel==0.2.1
pathspec
pexpect==4.8.0
pkginfo==1.8.3
platformdirs==2.5.2
poetry==1.1.14
poetry-core==1.0.8
psycopg2
ptyprocess==0.7.0
pycodestyle
pycparser==2.21
pyflakes
PyJWT
pylev==1.4.0
pyparsing==3.0.9
python-decouple
python3-openid
pytz
requests==2.28.1
requests-oauthlib
requests-toolbelt==0.9.1
SecretStorage==3.3.2
shellingham==1.4.0
six==1.16.0
social-auth-app-django
social-auth-core
sqlparse
tomli
tomlkit==0.11.1
uritemplate
urllib3==1.26.10
virtualenv==20.15.1
webencodings==0.5.1
